@page "{category?}"
@model ProductListModel
@{
    ViewData["Title"] = "Product";
}

@if (!string.IsNullOrEmpty(Model.Category))
{
    <h1>@Model.Category</h1>
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    @* <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li> *@
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories
                </div>
                <ul class="list-group category_block">

                    @* @foreach (var category in Model.CategoryList)
                    {
                    <li class="list-group-item">
                    <a asp-page="ProductList" asp-route-categoryName="@category">@category</a>
                    </li>
                    } *@
                    <li class="list-group-item">
                        <a asp-page="ProductList" asp-route-category="Smart Phone" class="page-link">Smart Phone"</a>
                    </li>

                </ul>
            </div>

            @* <div class="card bg-light mb-3">
            <div class="card-header bg-success text-white text-uppercase">Last product</div>
            <div class="card-body">
            <img asp-append-version="true" class="img-fluid"
            src="~/images/product/@Model.ProductList.Data.LastOrDefault().ImageFile" />
            <h5 class="card-title">@Model.ProductList.Data.LastOrDefault().Name</h5>
            <p class="card-text">@Model.ProductList.Data.LastOrDefault().Description</p>
            <p class="bloc_left_price">@Model.ProductList.Data.LastOrDefault().Price $</p>
            </div>
            </div> *@

        </div>

        <div class="col">
            <div class="row">

                @foreach (var product in Model.ProductList.Data)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }

                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">

                            <li class="page-item @(Model.ProductList.PageIndex == 1 ? "disabled" : "")">
                                <a asp-page="ProductList" asp-route-category="@Model.Category"
                                    asp-route-pageNumber="@(Model.ProductList.PageIndex - 1)" class="page-link">Previous
                                </a>
                            </li>

                            @for (int i = 0; i < Model.ProductList.TotalPages; i++)
                            {
                                <li class="page-item @(Model.ProductList.PageIndex == i + 1 ? "active" : "")">
                                    <a asp-page="ProductList" asp-route-category="@Model.Category"
                                        asp-route-pageNumber="@(i + 1)" class="page-link">@(i +
                                    1)</a>
                                </li>
                            }

                            <li
                                class="page-item @(Model.ProductList.PageIndex == Model.ProductList.TotalPages ? "disabled" : "")">
                                <a asp-page="ProductList" asp-route-category="@Model.Category"
                                    asp-route-pageNumber="@(Model.ProductList.PageIndex + 1)" class="page-link">Next
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
